@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


/* RESET CSS + GLOBAL CSS Part 1 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif; /* Définit une police par défaut */
}

img, video {
    max-width: 100%;
    height: auto;
}

button, input, textarea {
    font-family: inherit; /* Assure que les formulaires utilisent la même police */
    border: none;
    outline: none;
    background: none;
}

/* BREAKPOINT = Mobile: 480px, tablet: 768px, desktop: 1026/1440px */

:root {

    --main-color: #091729;
    --bg-color: #FFF7ED;
    --white: #FFFF;
    --black: #000;

    --text-main-color: #091729;
    --text-sec-color: #FFFF;
    --text-basic-color: #000;

    /* Le 0.8 du rgba gère l'opacité c'est pratique ! */
    --opacity: rgba(9, 23, 41, 0.8);


    /* VARIABLE DESKTOP TEXTE */
    --title-h1:2rem;
    --title-h2:2.5rem;
    --title-h3:2.25rem;
    --title-footer:2rem;
    --text-labeur:1rem;

    /* VARIABLE MOBILE TEXTE */
    --r-title-h1:1.5rem;
    --r-title-h2:1.5rem;
    --r-title-h3:1.25rem;
    --r-title-footer:1rem;

    --light: 300;

    --regular: 400;

    --semi-bold: 600;

    --bold: 800;

    --interligne: auto;

    --h1: "Playfair", serif;
    --title-police: "Inter", sans-serif;
    --text-police: "Nunito", sans-serif;

    /* ICON ITEMS */
    --r-icon: 25px;


/* VARIABLES MOBILE / MARGIN - PADDING */
    --r-ml-r: 2em;
    --r-mt-b: 1.25em;
    --r-pb: 0.6255em;

/* VARIABLES TABLET / MARGIN - PADDING */
    --t-ml-r: 6em;
    --t-mt-b: 1.25em;

/* VARIABLES DESKTOP / MARGIN - PADDING */
    --d-ml-r: 4em;
    --d-mt-b: 1.25em;

}

/**** GLOBAL CSS Part 2 ****/

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--white);
    font-family: var(--title-police);
}

body{
    font-family: var(--title-police);
    font-family: var(--text-police);
    line-height: var(--interligne);
    background-color: var(--bg-color);
}

/* MOBILE FIRST : 480px */

h1 {
    font-family: var(--h1);
    font-size: var(--r-title-h1);
    color: var(--white);
    width: 100%;
}

h2{
    font-family: var(--title-police);
    font-size: var(--r-title-h2);
}

h3{
    font-family: var(--title-police);
    font-size: var(--r-title-h3);
}

p{
    font-family: var(--text-police);
    font-size: var(--text-labeur);
    line-height: var(--interligne);
}

/* HEADER - ACCUEIL */

header{
    background-image: url(../IMG/PICTURES/nantes-img-filter.webp);
    /* background-color: aquamarine; */
    width: 100%;
    height: 26.4em;
}

.header-nav{
    background-color: var(--opacity);
    width: 45%;
    height: auto;
    position:fixed;
    z-index: 10;
    padding: 1.875em;
    display: flex;
    flex-direction: column;
}

.header-logo{
    width: 80px;
    padding: 0.3em;
}

.menu-nav{
    display: flex;
    flex-direction: column;
}

.menu-nav li{
    padding: 0.3em;
}

.header-hero h1{
    height: 8em;
    padding: 1.875em;
    position: absolute;
    top: 18%;
    width: 100%;
    padding: 0;
    text-align: center;
}


/* HEADER - TABLET -------------- */
/* @media screen and (min-width: 768px){
    header {
        height: 30em;
    }
    .header-nav{
        width: auto;
        padding-right: var(--t-ml-r);
        padding-left: var(--t-ml-r);
    }
    .header-logo{
        width: 100px;
    }
    .header-logo, .menu-nav{
        
        height: auto;
    }
    li a{
        font-size: var(--text-labeur);
    }
    .header-hero{
        padding: 0;
    }
    .header-hero h1{
        padding-left: var(--t-ml-r);
    }
} */

/* HEADER - Desktops and laptops ----------- */
@media screen and (min-width: 1024px){
    .header-nav{
        width: 100%;
        height: 6em;
        padding: 0.938em;
        flex-direction: row;
    }
    .header-logo, .menu-nav{
        padding-left: 2em;
    }
    .header-logo {
        width: 100px;
    }
    .header-hero{
        padding: 0;
        padding-right: 4em;
    }
    .header-hero h1{
        text-align: center;
        width: 100%;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .menu-nav{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
    }
}


/* SECTION STORYTELLING */

/**** GLOBAL SECTIONS MOBILE s'applique à toutes les sections ****/
.sections{
    margin-left: var(--r-ml-r);
    margin-right: var(--r-ml-r);
    margin-top: var(--r-mt-b);
    margin-bottom: var(--r-mt-b);
    padding-bottom: var(--r-pb);
}
/**** END GLOBAL SECTIONS MOBILE ****/
.valeur-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--r-mt);
    margin-bottom: var(--r-mb);
    padding-bottom: var(--r-pb);
}

.valeur-content h2{
    padding-bottom: 0.6255em;
}

.valeur-content-items{
    display: flex;
    justify-content: space-between;
    gap: 4em;
}

.valeur-item img{
    align-items: center;
    width: 80px;
}

.valeur-item p{
    text-align: center;
}
.story-container{
    display: flex;
    flex-direction: column;

}

.story-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.story-content h2, p{
    padding-bottom: 0.6255em;
}



/* SECTION STORYTELLING -----TABLET */
@media screen and (min-width: 768px){
/**** GLOBAL SECTIONS TABLET s'applique à toutes les sections ****/
    .sections{
        padding-left: var(--t-ml-r);
        padding-right: var(--t-ml-r);
        margin-top: var(--t-mt-b);
        margin-bottom: var(--t-mt-b);
    }
/**** END GLOBAL SECTIONS TABLET ****/
}

/****** SECTION STORYTELLING ------DESKTOP */
/* @media screen and (min-width: 1024px){ */
/**** GLOBAL SECTIONS DESKTOP s'applique à toutes les sections ****/
    /* .sections{
    padding-left: var(--d-ml-r);
    padding-right: var(--d-ml-r);
    margin-top: var(--d-mt-b);
    margin-bottom: var(--d-mt-b);
    } */
/**** END GLOBAL SECTIONS DESKTOP ****/
    /* .story-container{
        flex-direction: row;
        padding-bottom: 0.6255em;
        gap: 20px;
    }
    .story-content{
        width: 50%;
    }
    .story-img{
        width: 50%;
    }
    .valeur-container{
        flex-direction: row;
        padding-bottom: 0.6255em;
        gap: 20px;
    }
    .valeur-content{
        width: 50%;
        align-items: start;
        padding-right: 4em;
        margin-top: 0;
    }
    .valeur-img{
        width: 50%;
    }
    .valeur-img img{
        width: 100%;
        height: 15em;
    }
} */

/*********** SECTION CARTE **********/

.carte{
    background-image: url(../IMG/PICTURES/food/food_10.webp);
    /* background-color: aquamarine; */
    background-size: cover;
    width: 100%;
    height: auto;
    margin: 0;
}

.carte-container{
    background-color: var(--opacity);
    display: flex;
    flex-direction: column;
}
.carte-content{
    width: 100%;
    padding-left: var(--r-ml-r);
    padding-right: var(--r-ml-r);
    margin-top: var(--r-mt-b);
    margin-bottom: var(--r-mt-b);
    padding-bottom: var(--r-pb);
    color: var(--white);
}
.carte-content h2{
    padding-bottom: 1em;
}

.carte-content-items{
    display: flex;
    flex-direction: column;
    padding-bottom: var(--r-pb);
}

.carte-item{
    padding-bottom: var(--r-pb);
}

.carte-item h3{
    padding-bottom: var(--r-pb);
}
strong{
    text-decoration: underline;
    font-weight: var(--semi-bold);
}

/* SECTION CARTE -----TABLET */
/* @media screen and (min-width: 768px){
    .carte-container{
        margin-right: var(--t-ml-r);
    }
    .carte-content{
        padding-left: var(--t-ml-r);
        padding-right: var(--t-ml-r);
        margin-top: var(--t-mt-b);
        margin-bottom: var(--t-mt-b);
        padding-bottom: var(--r-pb);
    }
} */

/* @media screen and (min-width: 1024px){
    .header-nav{
        padding-right: 1.5em;
        justify-content: flex-end;
        align-content: space-between;
    }
    .header-logo, .menu-nav{
        padding-left: var(--d-ml-r);
    }
    .header-logo {
        width: 150px;
    }
    .menu-nav {
        gap: 15px;
        align-items: center;
    }
    .menu-nav li{
        padding: 0;
    }
    .menu-nav li a{
        font-size: var(--text-labeur);
    }
    .carte-container{
        margin-right: var(--d-ml-r);
    }
    .carte-content{
        padding-left: var(--d-ml-r);
        padding-right: var(--d-ml-r);
        margin-top: var(--d-mt-b);
        margin-bottom: var(--d-mt-b);
        padding-bottom: var(--r-pb);
    }
    .carte-content-items{
        flex-direction: row;
        gap: 20px;
    }
    .carte-item{
        padding-bottom: var(--r-pb);
    }
} */

/*********** SECTION EVENEMENT **********/

.events{
    margin-bottom: var(--r-mt-b);

}
.events-content{
    display: flex;
    flex-direction: column;
    
    margin-bottom: var(--r-mt-b);
}
.events-content h2, h3, p{
    padding-bottom: var(--r-pb);
}
.btn-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    padding-top: var(--r-pb);
}

.btn-container img{
    width: var(--r-icon);
    fill: var(--white);
    margin-left: 1em;
}

button{
    background-color: var(--main-color);
    font-family: var(--title-police);
    font-size: var(--r-text-labeur);
    color: var(--white);
    padding: 20px;
}

/* @media screen and (min-width: 1024px){

} */

/*********** SECTION CONTACTS **********/

.contacts-content-items{
    background-color: var(--opacity);
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 3;
    padding: var(--r-ml-r);
}

.where-content{
    color: var(--white);
    padding-bottom: var(--r-pb);
}
.location-item{
    display: flex;
    color: var(--white);
    gap: 1em;
}
.location-item img{
    width: var(--r-icon);
}
.who-content h2{
    color: var(--white);
    padding-bottom: var(--r-pb);
}
.contact-item{
    display: flex;
    flex-direction: row;
    color: var(--white);
    gap: 1em;
}
.contact-item img{
    width: var(--r-icon);
}
.tel-item{
    display: flex;
    flex-direction: row;
    color: var(--white);
    gap: 1em;
}
.tel-item img{
    width: var(--r-icon);
}
.access-content{
    color: var(--white);
    padding-bottom: var(--r-pb);
}
.access-item{
    display: flex;
    flex-direction: row;
    color: var(--white);
    gap: 1em;
}
.access-item img{
    width: var(--r-icon);
}
iframe{
    position: relative;
    z-index: 1;
    width: 100%;
}


/*********** FOOTER **********/

footer{
    background-color: var(--main-color);
}
.footer-container{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.footer-logo{
    display: block;
    width: 100px;
    padding-top: var(--r-pb);
    margin-left: auto;
    margin-right: auto;
}
.footer-content-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: var(--r-pb);
    margin-left: auto;
    margin-right: auto;
}
.footer-content-items p{
    color: var(--white);
    text-align: center;
}
.reseaux-items{
    display: flex;
    justify-content: center;
    gap: 1em;
}
.reseaux-items img{
    width: 50px;
}
.footer-nav{
    padding-bottom: var(--r-pb);
    text-align: center;
}

/* SECTION CARTE -----TABLET */
@media screen and (min-width: 1024px){
    .footer-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: var(--r-pb);
    }
    .footer-content-items{
        display: flex;
        flex-direction: column;
        margin-top: var(--r-pb);
        margin-left: 0;
        margin-right: 0;
    }
    .footer-nav{
        padding-top: 2.5em;
    }
    .footer-nav li{
        padding-top: 1em;
        text-align: left;
    }
    .menu-legal li{
        width: 50%;
    }
}